.frame-child2,
.frame-child3 {
  position: absolute;
  left: 0;
  width: 484px;
}
.frame-child2 {
  top: 0;
  height: 582px;
  object-fit: cover;
}
.frame-child3 {
  top: 26px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 617px;
}
.right-side-icon1 {
  position: absolute;
  top: 5.2px;
  right: 0;
  width: 82.48px;
  height: 13.6px;
}
.div12,
.right-side-group {
  position: absolute;
  height: 24px;
}
.div12 {
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
  width: 66.82px;
}
.right-side-group {
  top: 14px;
  right: 19px;
  width: 438.43px;
  font-size: var(--font-size-mini);
  font-family: var(--font-roboto);
}
.ellipse-div {
  position: absolute;
  top: 259px;
  left: 202px;
  border-radius: 50%;
  background-color: var(--color-gray-400);
  width: 80px;
  height: 80px;
}
.polygon-icon {
  position: absolute;
  top: 286.01px;
  left: 234.5px;
  width: 22.5px;
  height: 25.98px;
}
.frame-child4,
.frame-child5 {
  position: absolute;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke);
  width: 484px;
}
.frame-child4 {
  top: 257px;
  backdrop-filter: blur(20px);
  height: 567px;
  opacity: 0.85;
}
.frame-child5 {
  top: 373px;
  box-shadow: 0-15px 20px rgba(129, 70, 204, 0.1);
  height: 534px;
}
.frame-child6 {
  position: absolute;
  top: 886px;
  left: 176px;
  width: 132.5px;
  height: 6px;
}
.div13 {
  top: 295px;
  left: 37px;
  color: var(--color-gray-100);
  -webkit-text-stroke: 0.2px #111;
}
.div13,
.div14,
.div15,
.div16 {
  position: absolute;
  letter-spacing: -0.5px;
  line-height: 20px;
}
.div14 {
  top: 129px;
  left: 128px;
  -webkit-text-stroke: 1.2px #fff;
}
.div15,
.div16 {
  left: 37px;
}
.div15 {
  top: 331px;
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
}
.div16 {
  top: 415px;
  color: var(--color-gray-100);
  -webkit-text-stroke: 0.2px #111;
}
.p {
  margin: 0;
}
.div17 {
  position: absolute;
  top: 455px;
  left: 43px;
  font-size: var(--font-size-base);
  letter-spacing: -0.5px;
  line-height: 20px;
  color: var(--color-gray-200);
  text-align: left;
}
.group-child6 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 36.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkorchid-100);
  box-sizing: border-box;
  width: 73px;
  height: 36px;
  opacity: 0.85;
}
.follow {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 18.5px);
  letter-spacing: -0.5px;
  line-height: 20px;
}
.rectangle-parent1 {
  position: absolute;
  top: calc(50% - 142px);
  left: calc(50% + 140px);
  width: 73px;
  height: 36px;
  font-size: 13px;
  color: var(--color-darkorchid-100);
}
.frame-child7 {
  position: absolute;
  top: 555px;
  left: 327px;
  border-radius: var(--br-xl);
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.frame-child8,
.frame-child9 {
  left: 182px;
  height: 130px;
  object-fit: cover;
}
.frame-child8 {
  position: absolute;
  top: 555px;
  border-radius: var(--br-xl);
  width: 130px;
}
.frame-child9 {
  top: 700px;
  width: 275px;
}
.frame-child10,
.frame-child11,
.frame-child9 {
  position: absolute;
  border-radius: var(--br-xl);
}
.frame-child10 {
  top: 700px;
  left: 182px;
  background-color: var(--color-black);
  backdrop-filter: blur(12px);
  width: 275px;
  height: 130px;
  opacity: 0.6;
}
.frame-child11 {
  top: 555px;
  left: 37px;
  width: 130px;
  height: 275px;
  object-fit: cover;
}
.div18 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
}
.group,
.group-child7 {
  position: absolute;
  top: 19px;
  left: 3px;
  width: 12px;
  height: 12px;
}
.group {
  top: 750px;
  left: 311px;
  width: 17px;
  height: 30px;
  font-size: 14px;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  width: 484px;
  height: 898px;
  overflow: hidden;
}
.frame-root {
  position: relative;
  width: 100%;
  height: 898px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
